@using APP.Models
@model IEnumerable<AuthorResponse>

@{
    ViewBag.Title = "Authors List";
}

<h1>@ViewBag.Title</h1>

<p class="text-success">
    @ViewBag.Count
</p>

@* check whether it is null or not. *@
@if (TempData["Message"] is not null)
{
    <p class="bg-warning text-black">
        @TempData["Message"]
    </p>
}

<table class="table">
    <tr>
        <th>        
            @Html.DisplayNameFor(authorResponse => authorResponse.FullName)
        </th>
        <th>
            Operation Links
        </th>
    </tr>
    @foreach (AuthorResponse item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(categoryResponse => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(categoryResponse => item.LastName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Author Details</a>
                &nbsp;
                <a asp-action="Edit" asp-route-id="@item.Id">Edit Author</a>
                &nbsp;
                <a asp-action="Delete" asp-route-id="@item.Id">Delete Author</a>
            </td>
        </tr>
    }
</table>
<hr />
<a asp-action="Create">Create New Author</a>