@using APP.Models
@model GenreResponse

@{
    ViewBag.Title = "Genre Details";
}

<h1>@ViewBag.Title</h1>

@if (Model is null)
{
    <p class="text-danger">Genre not found!</p>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>Genre Name</th>
            <td>@Model.GenreName</td>
        </tr>
        <tr>
            <th>Genre Count</th>
            <td>@Model.BookCount</td>
        </tr>
    </table>
    @if (User.IsInRole("Admin"))
    {  
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    }
}
