@using APP.Models
@model CityResponse

@{
    var containerDivClass = "container";
    ViewData["Title"] = "City Details";
}

<div class="@containerDivClass">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>

@if (Model is not null)
{
    <div class="@containerDivClass">
        @if (TempData["Message"] is not null)
        {
            <p class="text-danger">@TempData["Message"]</p>
        }

        <div class="row mb-3">
            <div class="col-2 fw-bold">@Html.DisplayNameFor(m => m.CityName)</div>
            <div class="col-10">@Html.DisplayFor(m => m.CityName)</div>
        </div>

        <div class="row mb-3">
            <div class="col-2 fw-bold">@Html.DisplayNameFor(m => m.Country)</div>
            <div class="col-10">@Html.DisplayFor(m => m.Country.CountryName)</div>
        </div>

        <hr />
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        }
    </div>
}
